%h1 New Subscriber

%p
  %b Email:
  = @subscriber.email

%p Talk to your customer!
%ul
  %li What were they looking for when they came across Your App?
  %li What was it about Your App that made them sign up?
